.modal-backdrop {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  /* background-color: gray; temp dark mode */
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  > * {
    width: 100%;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h2 {
    margin: 0;
  }

  > button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      background-color: lightgray;
    }
  }
}

.modal-body {
  margin-bottom: 10px;

  > form {
    display: flex;
    flex-direction: column;
  }
}

.modal-buttons {
  display: flex;
  justify-content: end;
  align-items: end;

  > button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  > .submit-button {
    &:hover {
      background-color: lightgray;
    }

    &:active {
      background-color: gray;
    }
  }

  > .cancel-button:hover {
    text-decoration: underline;
  }
}
